/* carousell */
.imgs{
  position: relative;
  width: 250px;
  img{
    position: absolute;
    transition: transform 0.3s ease;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousell{
  width: 100%;
  min-height: 250px;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  .inner-carousell{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
  .text{
    max-width: 400px;
  }
  button {
    z-index:10;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #feb701;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  button:active {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
}




/* pagiantion */

.pagination {
  display: flex;
  flex-direction: row-reverse;
  justify-self: center;
  gap: 8px;
  justify-content: center;
  padding-top: 2rem;
}

.pagination .dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
}

.pagination .dot.active {
  background: #feb701;
}



img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}







/* from: https://webspe.net/tools/en/arrow/ */
.arrowleft {
  position: relative;
  display: inline-block;
  width: 11.8px;
  height: 19.6px;
}

.arrowleft::before,
.arrowleft::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 15px;
  height: 4px;
  border-radius: 9999px;
  background-color: #ffffff;
  transform-origin: 2px 50%;
}

.arrowleft::before {
  transform: rotate(45deg);
}

.arrowleft::after {
  transform: rotate(-45deg);
}

.arrowright {
  position: relative;
  display: inline-block;
  width: 11.8px;
  height: 19.6px;
}

.arrowright::before,
.arrowright::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 15px;
  height: 4px;
  border-radius: 9999px;
  background-color: #ffffff;
  transform-origin: calc(100% - 2px) 50%;
}

.arrowright::before {
  transform: rotate(45deg);
}

.arrowright::after {
  transform: rotate(-45deg);
}